
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/562cf505-0ec1-489d-a3ca-c99d999e4eea.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/74e424fa-fc96-47e3-98fb-ff14247f677b.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/b25d4c7f-cb76-4974-a1c2-57765bd3d72c.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/ca455593-fcd3-4c54-b6b9-81c59b8de59f.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/e18d8377-3d33-4036-9196-800f0b82141e.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/e71b4c98-143c-4338-8187-6bdb67312e68.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/DesignTimeBuild/.dtbcache.v2
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/0bf2135d-2d2c-4ade-a32e-573c27a0af3b.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/32dc342f-e2f4-4a0e-b7fd-b0ee731f355e.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/42a68b2f-4a6e-41ed-b3e8-5282e30f7fb4.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/0076e7c9-568b-4a4f-8786-9e7aae02aadb.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/1857484a-00e0-4225-a0e5-036544bce704.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/30e9cce9-c7d6-40bf-895a-45f91d733347.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/8b0c0f55-6e34-4387-9074-2732e987fadd.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/FileContentIndex/bb0279a4-62cb-4c8d-8554-7c8066c536f3.vsidx
ConectaEsporteSolution/.vs/ConectaEsporteSolution/DesignTimeBuild/.dtbcache.v2
