@model ConectaSolution.Models.VMLogin;
@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row h-100" ng-controller="LoginController">
	<div class="col-lg-6 col-md-12 col-sm-12 mx-auto align-self-center">
		<div class="login-form">
			<div class="text-center">
				<div class="h-100">
					<div class="login-media text-center">
						<img src="@Url.Content("~/images/logo-full.png")" alt="">
					</div>
				</div>
				<p>Inicie sessão na sua conta para começar a utilizar o Conecta Esporte</p>
			</div>
			<form asp-controller="Access" asp-action="Login" method="post" id="formLogin" ng-model="formLogin" name="formLogin" ng-submit="validateForm()">
		 
				<div class="mb-4">
					<label class="mb-1 text-dark">E-mail</label>
					<input type="email" id="txtEmailAddress" ng-class="clsErrorEmailAddress" ng-model="objEmailAddress" name="txtEmailAddress" class="form-control" placeholder="E-mail" value="" />
				</div>
				<div class="mb-4 position-relative">
					<label class="mb-1 text-dark">Senha</label>
					<input type="password" id="txtPassword" ng-class="clsErrorPassword" ng-model="objPassword" name="txtPassword" class="form-control" placeholder="Senha" value="" />
					<span class="show-pass eye">
						<i class="fa fa-eye-slash"></i>
						<i class="fa fa-eye"></i>
					</span>
				</div>
				<div class="form-row d-flex justify-content-between mt-4 mb-2">
					<div class="mb-4">
						@* <div class="form-check custom-checkbox mb-3">
							<input type="checkbox" class="form-check-input" id="customCheckBox1" required="">
							<label class="form-check-label" for="customCheckBox1">Remember my preference</label>
						</div> *@
					</div>
					<div class="mb-4">
						<a href="@Url.Action("ForgotProfessor","Access")" class="btn-link text-primary">Esqueceu a senha?</a>
					</div>
				</div>
				<div class="text-center mb-4">
					<button type="button" ng-click="validateForm()" class="btn btn-primary btn-block">Acessar</button>
				</div>
				<p class="text-center">
					Não tem cadastro?
					<a class="btn-link text-primary" href="@Url.Action("RegisterProfessor","Access")">Cadastre-se</a>
				</p>
			</form>
		</div>
	</div>
</div>


@section scripts
{
	<script type="text/javascript" src="@Url.Content("~/scripts/Access.LoginProfessor.js?t=" + Guid.NewGuid())"></script>
}